$colorTitulos: #726f6f;
$fuenteGoogle: ('Gluten', cursive);

.fondoBody__llb {
    background-image: url(../img/bg/laloopera.svg);
}

$bgBody: (
   lv: #792314,
   nm: #6e1b5a, 
   ll: #26218d,
   tr: #a79f2f,
   tp: #268542, 
);

@each $nombre, $valor in $bgBody {
    .offcanvas-header-llb#{nombre} {
         background: $valor;
    }
    .offcanvas-body-llb#{nombre} {
         background: $valor;
    }
}
 
.offcanvas-header-llb {
    background: map-get($map: $bgBody, $key: ll )
}
.offcanvas-body-llb{
    background: map-get($map: $bgBody, $key: ll )
}
.offcanvas-body-llb {
    font-family: $fuenteGoogle;
    height: 100%;
}
 
.offcanvas-title-llb {
    font-family: $fuenteGoogle;
    color: white;
}

.bajada {
    display: flex;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    background-color: #26218d;
    margin-top: 80px;
    flex-direction: column;
    text-align: center;
    & &__titulo {
        box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    }
    & &__parrafo {
        color: white;
        font-size: large;
    }
}

.conteiner-llb {
    margin: auto;
    gap: none;
    display: grid;
    max-width: 90%;
    max-height: 80%;
    grid-template-columns: 12, 63,5px;
    grid-template-rows: 12, 63,5px;
}
.grid-item iframe {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.grid-item img {
    width: 100%;
    height: 100%;
}
.grid-item:nth-child(1) {
    grid-column: 1/9;
    grid-row: 1/9;
}
.grid-item:nth-child(2) {
    grid-column: 9/13;
    grid-row: 1/5;
}
.grid-item:nth-child(3) {
    grid-column: 9/13;
    grid-row: 5/9;
}
.grid-item:nth-child(4) {
    grid-column: 1/5;
    grid-row: 9/13;
}
.grid-item:nth-child(5) {
    grid-column: 5/9;
    grid-row: 9/13;
}
.grid-item:nth-child(6) {
    grid-column: 9/13;
    grid-row: 9/13;
}
.grid-item img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.segmento {
    background-color: #26218d;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    text-align: center;
    color: white;
    h4 {
        color: $colorTitulos;
        box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        width: 100%;
        font-size: 30px;
    }
    .p1 {
        margin: -10px auto 10px;
    }
}

.campo-loop {
    display: flex;
    width: 90%;
    height: 80px;
    margin: auto auto 30px   
}
.campo__form-loop {
    width: 100%;
    height: auto;
}
.campo__libre-loop {
    @extend .campo__form-loop;
    color: white;
    font-family: $fuenteGoogle;
    text-align: center;
    padding: auto 0;
    background: radial-gradient(#6e1b5a, #703362);
}

.campo__btn-loop {
    font-family: $fuenteGoogle;
}

.laLoopera {
    div {
        font-family: $fuenteGoogle;
        background-color: #26218d;
        display: flex;
        justify-content: center;
    }
    p {
        color: white;
        margin-top: 5px;
        margin-bottom: auto;
        text-align: center;
    }
}