$colorTitulos: #dfdddd;
$fuenteGoogle: ('Gluten', cursive);

.fondoBody__tr {
    background-image: url(../img/bg/troupe.svg);
}

$bgBody: (
   lv: #EE5D0E,
   nm: #6e1b5a, 
   ll: #26218d,
   tr: #a79f2f,
   tp: #268542, 
);

@each $nombre, $valor in $bgBody {
    .offcanvas-header-tr#{nombre} {
         background: $valor;
    }
    .offcanvas-body-tr#{nombre} {
         background: $valor;
    }
}
 
.offcanvas-header-tr {
    background: map-get($map: $bgBody, $key: tr )
}
.offcanvas-body-tr {
    background: map-get($map: $bgBody, $key: tr )
}
.offcanvas-header-tr {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    padding: 10px 10px;
}
.offcanvas-body-tr {
    font-family: $fuenteGoogle;
    height: 100%;
    padding-left: 10px;
}
 
.offcanvas-title-tr {
    font-family: $fuenteGoogle;
    color: white;
}

.bajada-tr {
    display: flex;
    width: 90%;
    font-family: $fuenteGoogle;
    background-color: transparent;
    margin: 80px auto 30px;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    flex-direction: column;
    text-align: center;
    & &__titulo {
        box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
        color: $colorTitulos;
        font-size: 45px;
        background-color: #a79f2f;
    }
    & &__parrafo {
        color: white;
        font-size: large;
    }
    img {
        width: 50px;
    }
    a {
        text-decoration: none;
    }
}

.introduccion__percu {
    width: 70%;
    height: 400px;
    font-family: $fuenteGoogle;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    overflow: auto;
    background: radial-gradient(rgb(82, 82, 6), #a79f2f);
    h2 {
        width: 100%;
        height: auto;
        margin-top: 0;
        background: #a79f2f;
        text-align: center;
        position: sticky;
        top: 0;    
    }
    p {
        text-align: center;
        color: white;
    }
}
.introduccion__percu::-webkit-scrollbar {
    width: 5px;
}
.introduccion__percu::-webkit-scrollbar-thumb {
    background-color: #a79f2f;
}

.campo-tr {
    display: flex;
    width: 90%;
    height: 80px;
    margin: auto auto 30px   
}
.campo__form-tr {
    width: 100%;
    height: auto;
}
.campo__libre-tr {
    @extend .campo__form-tr;
    color: white;
    font-family: $fuenteGoogle;
    text-align: center;
    padding: auto 0;
    background: radial-gradient(#26218d, #6ae2e2);

}

.campo__btn-tr {
    font-family: $fuenteGoogle;
}
.troupe {
    div {
        font-family: $fuenteGoogle;
        background-color: #a79f2f;
        display: flex;
        justify-content: center;
    }
    p {
        color: white;
        margin-top: 5px;
        margin-bottom: auto;
        text-align: center;
    }
}

        