$bgBody: (
   lv: #792314,
   nm: #6e1b5a, 
   ll: #26218d,
   tr: #a79f2f,
   tp: #268542, 
);

@each $nombre, $valor in $bgBody {
    .fondoBody__tr#{$nombre} {
        color: $valor;
    }
}
 .fondoBody__tr {
     background: map-get($map: $bgBody, $key: tr)
 }


#carouselExampleInterval {
    max-width: 70%;
    max-height: auto;
    margin: 0 auto;
}

.bajada {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    text-align: center;
    & &__bajada {
        color: $colorTitulos;
        font-size: 40px;
    }
    & &__parrafo {
        color: white;
        font-size: medium;
    }
    img {
        width: 50px;
    }
    a {
        text-decoration: none;
    }
}

.introduccion__percu {
    width: 70%;
    height: 400px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: auto;
    background: radial-gradient(rgb(82, 82, 6), #a79f2f);
    h2 {
        width: 100%;
        height: auto;
        margin-top: 0;
        background: #333333;
        text-align: center;
        position: sticky;
        top: 0;
        
        
    }
    p {
        text-align: center;
        color: white;
    }
}
.introduccion__percu::-webkit-scrollbar {
    width: 5px;
}
.introduccion__percu::-webkit-scrollbar-thumb {
    background-color: $colorTitulos;
}

.campo-tr {
    display: flex;
    width: 90%;
    height: 80px;
    margin: auto auto 30px   
}
.campo__form-tr {
    width: 100%;
    height: auto;
}
.campo__libre-tr {
    @extend .campo__form-tr;
    color: white;
    text-align: center;
    padding: auto 0;
    background: radial-gradient(#26218d, #433f8b);

}

        