$bgBody: (
   lv: #792314,
   nm: #6e1b5a, 
   ll: #26218d,
   tr: #a79f2f,
   tp: #268542, 
);

@each $nombre, $valor in $bgBody {
    .fondoBody__tp#{$nombre} {
        color: $valor
    }
}

.fondoBody__tp{
    background: map-get($map: $bgBody, $key: tp);
}

.bajada {
    margin: 80px auto 20px ;
}

.musica {
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    border: 2px solid;
    h3 {
        text-align: left;
    }
    margin: 50px auto 10px;
    text-align: center;
    p {
        color: white;
        margin: 5px;
    }
}

.segmento2 {
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    margin-top: 40px;
    h3 {
        font-size: xx-large;
        text-align: center;
        color: #242323;
    }
    p {
        margin-top: 30px;
        color: white;
    }
    ul {
        li {
            color: white;
        }
    }
}

.contenedor-grilla {
    margin: 20px 10px;
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 4, 170px;
    grid-template-rows: 5, 60px;
}    
.item img {
    width: 100%;
    height: 100%;
}
.item img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/5;
}
.item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/6;
}
.item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/5;
}
.item:nth-child(4) {
    grid-column: 4/5;
    grid-row: 2/6;
}

.campo-tp {
    display: flex;
    width: 90%;
    height: 80px;
    margin: auto auto 30px   
}
.campo__form-tp {
    width: 100%;
    height: auto;
}
.campo__libre-tp {
    @extend .campo__form-tp;
    color: white;
    text-align: center;
    padding: auto 0;
    background: radial-gradient(#a79f2f, #a8a357);

}




