/*VARS*/
.fondoBody__index {
  background-image: url(../img/bg/index.svg);
}

.offcanvas-headernombre {
  background: #792314;
}

.offcanvas-bodynombre {
  background: #792314;
}

.offcanvas-headernombre {
  background: #6e1b5a;
}

.offcanvas-bodynombre {
  background: #6e1b5a;
}

.offcanvas-headernombre {
  background: #26218d;
}

.offcanvas-bodynombre {
  background: #26218d;
}

.offcanvas-headernombre {
  background: #a79f2f;
}

.offcanvas-bodynombre {
  background: #a79f2f;
}

.offcanvas-headernombre {
  background: #268542;
}

.offcanvas-bodynombre {
  background: #268542;
}

.offcanvas-header {
  background: #792314;
}

.offcanvas-body {
  background: #792314;
}

.offcanvas-body {
  font-family: "Gluten", cursive;
}

.offcanvas-title {
  font-family: "Gluten", cursive;
  color: white;
}

#carouselExampleFade {
  margin: 0 auto;
  width: 90%;
  height: auto;
}

.bajada {
  background-color: #792314;
  width: 80%;
  -webkit-box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
          box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
  font-family: "Gluten", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bajada .bajada__titulo {
  font-size: 40px;
}

.bajada .bajada__parrafo {
  color: white;
  font-size: xx-large;
}

.bajada .bajada__anc {
  text-decoration: none;
}

.segmento {
  background-color: #792314;
  width: 90%;
  margin: 40px auto;
  font-family: "Gluten", cursive;
  -webkit-box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  color: white;
}

.segmento .segmento__titulo {
  color: #726f6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 40px;
}

.segmento .segmento__parrafo {
  font-size: xx-large;
}

.campo-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 80px;
  margin: auto auto 30px;
}

.campo__form-index, .campo__libre-index {
  width: 100%;
  height: auto;
  font-family: "Gluten", cursive;
}

.campo__libre-index {
  color: white;
  text-align: center;
  padding: auto 0;
  background: radial-gradient(#268542, #478058);
}

footer div {
  font-family: "Gluten", cursive;
  background-color: #792314;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: white;
  margin-top: 5px;
  margin-bottom: auto;
  text-align: center;
}

.fondoBody__nm {
  background-image: url(../img/bg/ninio.svg);
}

.offcanvas-headernombre {
  background: #792314;
}

.offcanvas-bodynombre {
  background: #792314;
}

.offcanvas-headernombre {
  background: #6e1b5a;
}

.offcanvas-bodynombre {
  background: #6e1b5a;
}

.offcanvas-headernombre {
  background: #26218d;
}

.offcanvas-bodynombre {
  background: #26218d;
}

.offcanvas-headernombre {
  background: #a79f2f;
}

.offcanvas-bodynombre {
  background: #a79f2f;
}

.offcanvas-headernombre {
  background: #268542;
}

.offcanvas-bodynombre {
  background: #268542;
}

.offcanvas-header-nm {
  background: #6e1b5a;
}

.offcanvas-body-nm {
  background: #6e1b5a;
}

.offcanvas-body-nm {
  font-family: "Gluten", cursive;
  height: 100%;
}

.offcanvas-title-nm {
  font-family: "Gluten", cursive;
  color: white;
}

.bajada__ninio {
  background: transparent;
  width: 100%;
  height: auto;
  font-family: "Gluten", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bajada__ninio h1 {
  background-color: #6e1b5a;
  text-align: center;
  padding: 5px auto 5px;
  font-size: 50px;
}

.video-responsive {
  height: auto;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-responsive iframe {
  height: 60%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ninio__description {
  width: 100%;
  height: 446px;
  background: transparent;
  display: inline-block;
  padding: 15px;
  font-family: "Gluten", cursive;
  color: white;
  text-align: center;
  margin: 20 px 40px;
}

.ninio__description img {
  max-width: 50px;
  max-height: none;
}

.ninio__description h3 {
  background-color: #6e1b5a;
  -webkit-box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
          box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-sm-2 img {
  max-width: 100%;
  max-height: none;
  margin-bottom: 30px;
  -webkit-box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
          box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}

.col-sm-2 img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.campo-ninio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80px;
  margin: auto auto 30px;
}

.campo__form-ninio, .campo__libre-ninio {
  width: 100%;
  height: auto;
}

.campo__libre-ninio {
  color: white;
  font-family: "Gluten", cursive;
  text-align: center;
  padding: auto 0;
  background: radial-gradient(#792314, #7a3c31);
}

.campo__btn-ninio {
  font-family: "Gluten", cursive;
}

.ninio div {
  font-family: "Gluten", cursive;
  background-color: #6e1b5a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ninio p {
  color: white;
  margin-top: 5px;
  margin-bottom: auto;
  text-align: center;
}

.fondoBody__llb {
  background: #26218d;
}

.bajada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bajada .bajada__titulo {
  -webkit-box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
          box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}

.bajada .bajada__parrafo {
  color: white;
  font-size: large;
}

.grid-item img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.segmento {
  text-align: center;
  color: white;
}

.segmento h4 {
  color: #726f6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 30px;
}

.campo-loop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80px;
  margin: auto auto 30px;
}

.campo__form-loop, .campo__libre-loop {
  width: 100%;
  height: auto;
}

.campo__libre-loop {
  color: white;
  text-align: center;
  padding: auto 0;
  background: radial-gradient(#6e1b5a, #703362);
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: white;
  margin-top: 5px;
  margin-bottom: auto;
  text-align: center;
}

.fondoBody__trlv {
  color: #792314;
}

.fondoBody__trnm {
  color: #6e1b5a;
}

.fondoBody__trll {
  color: #26218d;
}

.fondoBody__trtr {
  color: #a79f2f;
}

.fondoBody__trtp {
  color: #268542;
}

.fondoBody__tr {
  background: #a79f2f;
}

#carouselExampleInterval {
  max-width: 70%;
  max-height: auto;
  margin: 0 auto;
}

.bajada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bajada .bajada__bajada {
  color: #726f6f;
  font-size: 40px;
}

.bajada .bajada__parrafo {
  color: white;
  font-size: medium;
}

.bajada img {
  width: 50px;
}

.bajada a {
  text-decoration: none;
}

.introduccion__percu {
  width: 70%;
  height: 400px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: auto;
  background: radial-gradient(#525206, #a79f2f);
}

.introduccion__percu h2 {
  width: 100%;
  height: auto;
  margin-top: 0;
  background: #333333;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.introduccion__percu p {
  text-align: center;
  color: white;
}

.introduccion__percu::-webkit-scrollbar {
  width: 5px;
}

.introduccion__percu::-webkit-scrollbar-thumb {
  background-color: #726f6f;
}

.campo-tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80px;
  margin: auto auto 30px;
}

.campo__form-tr, .campo__libre-tr {
  width: 100%;
  height: auto;
}

.campo__libre-tr {
  color: white;
  text-align: center;
  padding: auto 0;
  background: radial-gradient(#26218d, #433f8b);
}

.fondoBody__tplv {
  color: #792314;
}

.fondoBody__tpnm {
  color: #6e1b5a;
}

.fondoBody__tpll {
  color: #26218d;
}

.fondoBody__tptr {
  color: #a79f2f;
}

.fondoBody__tptp {
  color: #268542;
}

.fondoBody__tp {
  background: #268542;
}

.bajada {
  margin: 80px auto 20px;
}

.musica {
  -webkit-box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
          box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
  border: 2px solid;
  margin: 50px auto 10px;
  text-align: center;
}

.musica h3 {
  text-align: left;
}

.musica p {
  color: white;
  margin: 5px;
}

.segmento2 {
  -webkit-box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
          box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
  margin-top: 40px;
}

.segmento2 h3 {
  font-size: xx-large;
  text-align: center;
  color: #242323;
}

.segmento2 p {
  margin-top: 30px;
  color: white;
}

.segmento2 ul li {
  color: white;
}

.contenedor-grilla {
  margin: 20px 10px;
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  max-height: 100%;
  -ms-grid-columns: 4, 170px;
      grid-template-columns: 4, 170px;
  -ms-grid-rows: 5, 60px;
      grid-template-rows: 5, 60px;
}

.item img {
  width: 100%;
  height: 100%;
}

.item img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.item:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.campo-tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80px;
  margin: auto auto 30px;
}

.campo__form-tp, .campo__libre-tp {
  width: 100%;
  height: auto;
}

.campo__libre-tp {
  color: white;
  text-align: center;
  padding: auto 0;
  background: radial-gradient(#a79f2f, #a8a357);
}

/* RESPONSIVE NINIO*/
@media screen and (min-width: 1024px) {
  #principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    max-width: 100%;
    max-height: auto;
  }
  .video-responsive {
    min-width: 780px;
    max-height: 50%;
  }
  .ninio__description {
    max-width: 100%;
    max-height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  footer {
    display: contents;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

/* LA LOOPERA RESPONSIVE */
@media screen and (min-width: 1024px) {
  .pie {
    display: contents;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

/*TROUPE PERCUSION*/
@media screen and (min-width: 1024px) {
  .bloque {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #carouselExampleInterval {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto 30px;
  }
  .introduccion__percu {
    max-width: 520px;
    max-height: 500px;
    margin: 20px auto;
  }
}

/* TU PROYECTO */
/* ANIMACIONES-INDEX */
@-webkit-keyframes mi-animacion {
  0% {
    color: #726f6f;
  }
  10% {
    color: #4d4a4a;
  }
  20% {
    color: #3a3838;
  }
  30% {
    color: #222121;
  }
  40% {
    color: #141414;
  }
  50% {
    color: #000000;
  }
  60% {
    color: #141414;
  }
  70% {
    color: #222121;
  }
  80% {
    color: #3a3838;
  }
  90% {
    color: #4d4a4a;
  }
  100% {
    color: #726f6f;
  }
}
@keyframes mi-animacion {
  0% {
    color: #726f6f;
  }
  10% {
    color: #4d4a4a;
  }
  20% {
    color: #3a3838;
  }
  30% {
    color: #222121;
  }
  40% {
    color: #141414;
  }
  50% {
    color: #000000;
  }
  60% {
    color: #141414;
  }
  70% {
    color: #222121;
  }
  80% {
    color: #3a3838;
  }
  90% {
    color: #4d4a4a;
  }
  100% {
    color: #726f6f;
  }
}

.bajada h1 {
  -webkit-animation-name: mi-animacion;
          animation-name: mi-animacion;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.segmento h2 {
  -webkit-animation-name: mi-animacion;
          animation-name: mi-animacion;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/* ANIMACION NINIO */
@keyframes mi-animacion {
  0% {
    color: #726f6f;
  }
  10% {
    color: #4d4a4a;
  }
  20% {
    color: #3a3838;
  }
  30% {
    color: #222121;
  }
  40% {
    color: #141414;
  }
  50% {
    color: #000000;
  }
  60% {
    color: #141414;
  }
  70% {
    color: #222121;
  }
  80% {
    color: #3a3838;
  }
  90% {
    color: #4d4a4a;
  }
  100% {
    color: #726f6f;
  }
}

.bajada__titulo {
  -webkit-animation-name: mi-animacion;
          animation-name: mi-animacion;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/* TROUPE*/
@keyframes mi-animacion {
  0% {
    color: #726f6f;
  }
  10% {
    color: #4d4a4a;
  }
  20% {
    color: #3a3838;
  }
  30% {
    color: #222121;
  }
  40% {
    color: #141414;
  }
  50% {
    color: #000000;
  }
  60% {
    color: #141414;
  }
  70% {
    color: #222121;
  }
  80% {
    color: #3a3838;
  }
  90% {
    color: #4d4a4a;
  }
  100% {
    color: #726f6f;
  }
}

.introduccion__percu h2 {
  -webkit-animation-name: mi-animacion;
          animation-name: mi-animacion;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/* ANIMACIONES TU PROYECTO*/
@keyframes mi-animacion {
  0% {
    color: #726f6f;
  }
  10% {
    color: #4d4a4a;
  }
  20% {
    color: #3a3838;
  }
  30% {
    color: #222121;
  }
  40% {
    color: #141414;
  }
  50% {
    color: #000000;
  }
  60% {
    color: #141414;
  }
  70% {
    color: #222121;
  }
  80% {
    color: #3a3838;
  }
  90% {
    color: #4d4a4a;
  }
  100% {
    color: #726f6f;
  }
}

.musica h3 {
  -webkit-animation-name: mi-animacion;
          animation-name: mi-animacion;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.campo__btn-index {
  display: inline-block;
  width: 100px;
  font-size: medium;
  padding: 5px;
  border: 1px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#268542), to(#6c8574));
  background: linear-gradient(#268542, #6c8574);
  color: white;
  text-decoration: none;
}

.campo__btn-ninio {
  display: inline-block;
  width: 100px;
  font-size: medium;
  padding: 5px;
  border: 1px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#792314), to(#794c45));
  background: linear-gradient(#792314, #794c45);
  color: white;
  text-decoration: none;
}

.campo__btn-loop {
  display: inline-block;
  width: 100px;
  font-size: medium;
  padding: 5px;
  border: 1px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#6e1b5a), to(#6e4c66));
  background: linear-gradient(#6e1b5a, #6e4c66);
  color: white;
  text-decoration: none;
}

.campo__btn-tr {
  display: inline-block;
  width: 100px;
  font-size: medium;
  padding: 5px;
  border: 1px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#26218d), to(#605e8b));
  background: linear-gradient(#26218d, #605e8b);
  color: white;
  text-decoration: none;
}

.campo__btn-tp {
  display: inline-block;
  width: 100px;
  font-size: medium;
  padding: 5px;
  border: 1px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#a79f2f), to(#aaa77b));
  background: linear-gradient(#a79f2f, #aaa77b);
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=estilos.css.map */